@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    padding: 18px;
    background: var(--sidebar-color);
}

/* Reusable code */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar p,
.sidebar span,
.sidebar .icon {
    color: var(--text-color);
}

.sidebar p {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

/* =========================== */

.sidebar header {
    display: flex;
    align-items: center;
}

.sidebar header .title {
    display: flex;
    flex-direction: column;
}

header .name {
    color: var(--primary-color);
}

header .name,
header span {
    font-size: 14px;
}

.sidebar header .logo {
    display: flex;
    align-items: center;
    margin: 8px;
    margin-right: 20px;
}

.sidebar header .logo img {
    width: 48px;
    border-radius: 50%;
}

.sidebar .menu {
    margin-top: 20px;
}

.sidebar li a {
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}


.sidebar li a:is(:link, :active, :visited).active,
.sidebar li a:hover {
    background-color: var(--primary-color-light);
}

.sidebar li a:is(:link, :active, :visited).active .icon,
.sidebar li a:is(:link, :active, :visited).active .text,
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--primary-color);
    font-weight: 700;
}

.sidebar .menu-bar {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

.mode .mode-text {
    font-family: 'Poppins', sans-serif;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.section {
    position: absolute;
    top: 0;
    top: 0;
    left: 280px;
    height: 100vh;
    width: calc(100% - 280px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}